@charset "UTF-8";
:root {
  --title-white-color:#FFFFFF;
  --title-black-color:#212121;
  --link-blue-color: #2196F3;
  --logo-black-color:#000000;
  --text-gray-color:#757575;
}

body {
  background-color: var(--title-white-color);
  color: var(--text-gray-color);
  font-family: Roboto, sans-serif;
}

body h1, body h2, body h3, body p {
  margin: 0;
  padding: 0;
}

body ul {
  margin: 0;
  padding: 0;
}

body img {
  display: block;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
}

.header .logo {
  color: var(--logo-black-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.header .span-logo {
  color: var(--link-blue-color);
}

.header .span-logo:hover {
  color: var(--logo-black-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  display: inline-block;
}

.logo:hover {
  color: var(--link-blue-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__listlogo {
  display: flex;
}

.footer .footer__logo {
  color: var(--title-white-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  display: inline-block;
}

.footer .footer__logo:hover {
  color: var(--link-blue-color);
}

.footer .footer__span-logo {
  color: var(--link-blue-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .footer__span-logo:hover {
  color: var(--title-white-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e7e1e1;
}

.headernav {
  display: flex;
  align-items: center;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.current-page {
  text-decoration: none;
  position: relative;
  color: var(--link-blue-color);
}

.current-page::after {
  display: inline-block;
  position: absolute;
  top: 45px;
  left: 0;
  /*изменить на right:0;, чтобы изменить направление подчёркивания */
  width: 100%;
  /*задаём длинну линии до наведения курсора*/
  height: 5px;
  /*задаём ширину линии*/
  background-color: var(--link-blue-color);
  /*задаём цвет линии*/
  content: "";
}

.site-nav {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.navigation {
  margin-left: 70px;
}

.site-nav .link {
  color: var(--title-black-color);
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav :not(:last-child) {
  margin-right: 45px;
}

.contact-nav,
.site-nav {
  display: flex;
}

.contact {
  margin-left: auto;
}

.contact-nav .link {
  color: #757575;
  font-style: 400;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--link-blue-color);
}

.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--link-blue-color);
}

.mail-icon, .phone-icon {
  display: flex;
}

.mail-icon,
.phone-icon {
  display: flex;
  fill: currentColor;
  margin-right: 10px;
}

.link, .mail-icon, .phone-icon {
  display: flex;
  align-items: center;
}

.section {
  background-color: #2f303a;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/imghero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section .main__title {
  color: var(--title-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
}

.section .main__button {
  color: var(--title-white-color);
  background-color: var(--link-blue-color);
  font-weight: 700;
  font-size: 16px;
  margin-top: 30px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 5px;
  padding: 10px 32px;
}

.modal__backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transform-origin: top;
  transform: translatey(0);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__backdrop.is-hidden {
  opacity: 1;
  transform: scaley(0);
  transform: translateY(-100%);
  pointer-events: none;
}

.modal__form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 528px;
  height: 581px;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding-top: 50px;
  padding: 40px;
  text-align: center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form .modal__description-icon {
  fill: #000000;
  display: flex;
  justify-content: center;
  text-align: center;
}

.modal__form .modal__btn-modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
}

.modal__form .modal__btn-modal-close:hover .modal__description-icon {
  fill: #2196F3;
}

/*Форма*/
.form {
  display: flex;
  flex-direction: column;
}

.form b {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.form .form__info {
  list-style: none;
}

.form .form__contact {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form .form__label-form {
  margin-right: 463px;
  text-align: start;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;
  color: #757575;
}

.form__input-form {
  height: 40px;
  padding-left: 42px;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 1px solid rgba(33, 33, 33, 0.2);
}

.form__input-form:focus, .form__input-form:active {
  border-color: var(--link-blue-color);
}

.form__icon-form {
  position: absolute;
  top: 30%;
  left: 15px;
  transform: translateY(50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input-form:focus + .form__icon-form,
.form__input-form:active + .form__icon-form {
  fill: var(--link-blue-color);
}

.form__textarea {
  resize: none;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  height: 120px;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 1px solid rgba(33, 33, 33, 0.2);
}

.form__textarea:focus {
  color: var(--title-black-color);
}

.inform {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
  padding-left: 23px;
}

.checkbox__link {
  color: var(--link-blue-color);
  font-size: 14px;
  align-items: center;
}

.checkbox__label {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.checkbox__input {
  position: absolute;
  -moz-apperance: none;
  -webkit-appearance: none;
  appearance: none;
}

.checkbox__input::before {
  content: ' ';
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid var(--logo-black-color);
  border-radius: 2px;
  margin-right: 5px;
}

.checkbox__input + .checkbox__label::before {
  background: var(--link-blue-color);
  background-image: url(../images/ckeckbox.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 2px solid var(--link-blue-color);
}

.form__form-btn {
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  line-height: 1.86;
  letter-spacing: 0.06em;
  color: var(--title-white-color);
  background-color: var(--link-blue-color);
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.title__second-title {
  color: var(--title-black-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.title__section-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.servies__icon-image {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background: #F5F4FA;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.servies {
  padding-top: 95px;
}

.servies__li {
  width: 270px;
}

.servies__li:not(:last-child) {
  margin-right: 30px;
}

.section-title {
  color: var(--title-black-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2.00;
  letter-spacing: 0.06em;
  color: var(--title-black-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
}

.imgsection {
  padding-top: 95px;
  padding-bottom: 95px;
}

.name {
  padding-bottom: 10px;
  text-align: center;
}

.name .page-name {
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
}

.section-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.list {
  display: flex;
}

.itemsimg:not(:last-child) {
  margin-right: 30px;
}

.itemsimg {
  position: relative;
}

.itemsimg .overley-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #FFFFFF;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 1.14;
  font-size: 14px;
  font-weight: 700;
}

.teamsection {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #F5F4FA;
}

.teamsection .image {
  background-color: #FFFFFF;
  width: 270px;
}

.img,
.team {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-transform: inherit;
}

.team__comanda {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  margin-right: auto;
  margin-left: auto;
}

.team__page-name {
  text-align: center;
}

.team__icon-contacts {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
  margin: 0;
}

.team__icon-team:not(:last-child) {
  margin-right: 10px;
}

.team__icon-team-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: #FFFFFF;
  cursor: pointer;
  object-fit: contain;
  fill: #AFB1B8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__icon-team-link:hover, .team__icon-team-link:focus {
  fill: #FFFFFF;
  background-color: var(--link-blue-color);
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients .titleclient {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0,3em;
  color: black;
}

.clients .client__section {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.clients .client__list {
  list-style-type: none;
}

.clients .client__list:not(:last-child) {
  margin-right: 30px;
}

.client__icon-button {
  margin: 0;
  padding: 0;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 5px;
  background-color: #FFFFFF;
  cursor: pointer;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__icon-button:hover, .client__icon-button:focus {
  fill: var(--link-blue-color);
  border-color: var(--link-blue-color);
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__address {
  text-decoration: none;
  color: var(--title-white-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  display: block;
  margin-top: 20px;
  margin-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list .footer__address:hover,
.footer-list .footer__address:focus {
  color: var(--link-blue-color);
}

.footer-list .link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.contact__navfooter {
  display: block;
  flex-direction: column;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.telmailli:not(:last-child) {
  margin-bottom: 9px;
}

/*соцсети*/
.footer-links__icon-contacts {
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
}

.footer-links__iconfooter {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

.footer-links__title-footer {
  font-size: 14px;
  line-height: 1,72;
  letter-spacing: 0,03em;
  color: #F5F4FA;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-links__title-footer:not(:last-child) {
  margin-right: 10px;
}

.footer-links__icon-teamfooter-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  object-fit: contain;
  fill: var(--title-white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-links__icon-teamfooter-link:hover, .footer-links__icon-teamfooter-link:focus {
  fill: #FFFFFF;
  background-color: var(--link-blue-color);
}

.footer-links__icon-contacts {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
  margin: 0;
}

.footer-links__icon-teamfooter:not(:last-child) {
  margin-right: 10px;
}

.subscribe {
  width: 570px;
  margin-left: 93px;
}

.subscribe b {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-white-color);
}

.subscribe-input {
  display: flex;
  justify-content: space-between;
}

.subscribe-btn {
  display: flex;
  align-items: center;
  flex-basis: 200px;
  height: 50px;
  padding: 10px 28px;
  background-color: var(--link-blue-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  color: var(--title-white-color);
  cursor: pointer;
}

.subscribe-btn::after {
  content: " ";
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-left: 5px;
  background: url(../images/icon-send.svg);
}

.sub-field {
  flex-basis: 100%;
  padding: 15px;
  margin-right: 12px;
  background-color: #2f303a;
  color: var(--title-white-color);
  border: 1px solid rgba(250, 250, 250, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.btnlist {
  color: var(--title-black-color);
  background-color: #F5F4FA;
  font-family: Roboto, sans-serif;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), bacground-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list {
  justify-content: center;
  margin-bottom: 50px;
}

.btnli:not(:last-child) {
  margin-right: 10px;
}

.btnlist {
  padding: 6px 22px;
}

.portfolio-section .btnlist:hover,
.portfolio-section .btnlist:focus {
  background-color: var(--link-blue-color);
  color: var(--title-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.portfolioli {
  width: 370px;
}

.portfolioli {
  margin-left: 30px;
  margin-bottom: 30px;
}

.portfolioli:hover, .portfolioli:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.cards {
  text-align: start;
}

.cardli {
  padding: 20px 24px;
  border-bottom: #EEEEEE solid;
  border-left: #EEEEEE solid;
  border-right: #EEEEEE solid;
  border-width: 1px;
}

.portcard {
  position: relative;
  overflow: hidden;
}

.portcard:hover .text-information,
.portcard:focus .text-information {
  transform: translateY(0%);
}

.text-information {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  display: flex;
  align-items: center;
  padding-right: 24px;
  padding-left: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 500ms linear;
}

.text-information p {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0,03em;
}
/*# sourceMappingURL=main.css.map */