
@import './utils/vars';
@import './base/reset' ;
@import './utils/hidden';
@import './components/logo';
@import './layout/header';
@import './layout/mainhero' ;
@import './components/secondsection';
@import './components/servises';
@import './layout/team';
@import './layout/clients';
@import './layout/footer';
@import './components/subscribe';
@import './layout/portfolio';


