.clients{
    padding-top:60px;
    padding-bottom: 60px;
    @media screen and (min-width:768px){
        padding-top:94px;
        padding-bottom: 94px;  

        
    }

    .titleclient{
        font-size: 28px;
        margin-bottom:30px ;
        line-height: 1.17;
        letter-spacing: 0,3em;
        color: black;
        @media screen and(min-width:1200px) {
            font-size: 36px;
            margin-bottom: 50px;
            
        }
    }
    .client__section{
        align-items: center;
        justify-content: center;
        
            display: flex;
            flex-wrap: wrap;
        margin-right: -30px;
        margin-bottom: -30px;
      
    }
    .client__list{
        list-style-type: none;
        height: 92px;
        margin-bottom: 30px;
        align-items: center;
        justify-content: center;


        flex-basis: calc(100% /2 - 30px){
        
            
            

        }
        @media screen and(min-width:768px) {
            flex-basis: calc(100% /3 - 30px); 

           margin-bottom: 30px;
          
            } 
        }
         @media screen and(min-width:1200px) {
            flex-basis: calc(100% /6 - 30px); 
           &:not(:last-child){
            margin-right: 10px;
           } 
            

        }
    }
    
   
    

.client__icon-button{
    margin: 0;
    padding: 0;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 5px;
    background-color: #FFFFFF;
    cursor: pointer;
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
       &:hover,
       &:focus {
          fill: var(--link-blue-color);
          border-color: var(--link-blue-color); }
        }