.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @media screen and(min-width:480px){
      max-width:480px;
     
       
    }
    @media screen and(min-width:768px){
      max-width:768px;
       
    }
    @media screen and(min-width:1200px){
      max-width:1200px;
       
    }
    
}
.header{
   padding-top: 16px;
   padding-bottom: 16px;
   @media screen and(min-width:768px) {
      padding-top: 24px;
      padding-bottom: 25px;  
      
   }
   border-bottom:1px solid #e7e1e1;
   
}
.headernav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}

.list{
    list-style: none;
}
.link{
    text-decoration: none;
}
 .current-page{
    text-decoration: none;
    position: relative;
    color: var(--link-blue-color);
}

 .current-page::after{
   display:inline-block;
   position: absolute;
   top: 45px;
   left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
   width:100%;/*задаём длинну линии до наведения курсора*/
  height: 5px; /*задаём ширину линии*/
   background-color: var(--link-blue-color); /*задаём цвет линии*/
   content: "";
   
   
}





.contact-nav {

   @media screen and (min-width:678px){
      display: flex;
      justify-content: flex-end; 
   }

  @media screen and (max-width:1199px){
     
   display: flex;
   
   justify-content: space-around;
   
   flex-direction: column;
} 

@media screen and (min-width:1200px){
     
   display: flex;
   
   justify-content: space-around;
   
  
} 
 
    //display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
   }

  .navigation{
      display: none;
      @media screen and(min-width:768px){
         display: flex;
         margin-left: 70px;
      }
      .site-nav :not(:last-child){
         margin-right: 45px;
        } 
  }
  

     @media screen and (win-width:1200px){
        
      .tel :not(:last-child){
         margin-right: 45px;

        }
        
     }
  

  .contact{
     display: none;
    
     @media screen and(min-width:768px){
      display: block;
      align-items: baseline;

   }
     
  }
.site-nav .link{
    color: var(--title-black-color);
    display: flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.contact-nav{
      
  @media screen and (max-width:1199px){
      display: none;
     
  }
 

}



.contact-nav .link{
   color:#757575;
   font-style: 400;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus{
    color:var(--link-blue-color);
   
}
.contact-nav .link:hover,
.contact-nav .link:focus{
   color:var(--link-blue-color);
  
}
.mail-icon, .phone-icon{
   display: flex;
}
.mail-icon,
.phone-icon{
   display: flex;
   fill: currentColor;
   margin-right: 10px;
}
.link, .mail-icon, .phone-icon{

align-items: center;

   @media screen and(min-width:769px) {
      display: flex; 
   }
  
   
}
.menu-open, .menu-close{
   width: 40px;
   height: 40px;
   border: none;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   background-color: transparent;



}
.modal__mobile-icon{
   .menu-open:hover &{
      background-color: #2196F3 ;
   }

}

.menu-close{

   position: absolute;
   right: 15px;
   top: -37px;
}

.menu-open{
   @media screen and(min-width:768px){
      display: none;
      
   }
}



.mob-menu{
   position: fixed;
   background-color: #ffffff;
   width: 100vw;
   top: 0;
   height: 100vh;
   padding-top: 48px;
   padding-bottom: 48px;

   .container{
      position: relative;
      height: 100%;
      min-height: 400px;

   }
   @media screen and(min-width:768px){
      display: none;
      
   }
}
.mob-menu-bottom{
   position: absolute;
   bottom: 0;


}

.mob-menu-item{
   &:not(:last-child){
      margin-bottom: 32px;   
   }

   .mob-menu-link { 
      font-weight: 500;
      font-style: 40px;
      line-height: calc(47 / 40);
      text-align: center;
      letter-spacing: 0.02em;
      color: #212121;
      text-decoration: none;
   }
}

.mob-contacts-list{
   margin-bottom: 64px;

}
.mob-contacts-item{
   &:not(:last-child){
      margin-bottom: 32px;

   }
}

.mob-contacts-link{
   font-weight: 500;
   font-style: 24px;
   line-height: calc(28 / 24);
   letter-spacing: 0.02em;
   color: #757575;
   text-decoration: none;
}
.mob-contacts-tel-link{
   font-size: 34px;
   line-height: calc(40 / 34);


}
.mob-social-list{
   display: flex;

}
.mob-social-item{
   &:not(:last-child){
      margin-right: 10px;

      .mob-social-link {

         border-right: 1px solid rgba(33, 33, 33, 0.2);
         padding-right: 10px;
        
      }
   }
}
.mob-social-link{
   font-weight: 500;
   font-size: 18px;
   line-height: 1.22;
   letter-spacing: 0.02em;
   color:#2196F3;
   text-decoration: none;
   border-right: 1px solid rgba(33, 33, 33, 0.2);
   padding-right: 10px;


}
.mob-menu.is-hidden{
   opacity: 0;
   pointer-events: none;
   visibility: hidden;
 
}

