.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px ;}


.btnlist{
color: var(--title-black-color);
background-color:#F5F4FA;
font-family: Roboto, sans-serif;
cursor: pointer;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em; 
border-radius: 5px;
border: 1px solid transparent;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
 bacground-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-list {
justify-content: center;
margin-bottom: 50px;

}
.btnli:not(:last-child){
margin-right: 10px;

}

.btnlist{
padding: 6px 22px;

}

.portfolio-section .btnlist:hover,
.portfolio-section .btnlist:focus{
background-color:var(--link-blue-color);
color: var(--title-white-color); 
box-shadow: 0px 4px 4px rgba(0,0,0,0.25),0px 4px 4px rgba(0,0,0,0.25); 

}
.portfolio-list{
display: flex;
flex-wrap: wrap;
margin-left: -30px;
}
.portfolioli{
width: 370px;
}
.portfolioli{
//flex-basis: calc((100% - 3*30px)/3);
margin-left: 30px;
margin-bottom: 30px;

&:hover,
&:focus{
box-shadow:0px 1px 1px rgba(0,0,0,0.12),1px 4px 6px rgba(0,0,0,0.16); 
cursor: pointer;

}
}

.cards{
text-align: start;
}
.cardli{
padding:20px 24px;
border-bottom: #EEEEEE solid;
border-left: #EEEEEE solid;
border-right: #EEEEEE solid;
border-width: 1px;
}


.portcard{
position: relative;
overflow: hidden;
     &:hover .text-information,
     &:focus .text-information{
            transform: translateY(0%);
       }

}


.text-information{
position: absolute;
height: 100%;
top: 0;
left: 0;

overflow: auto;
display: flex;
align-items: center;
padding-right: 24px;
padding-left: 24px;
background-color: rgba(33, 150, 243, 0.9);
transform: translateY(100%);
transition: transform 500ms linear;

p{
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0,03em;
  
  }
}
 
