.title__second{
    @media screen and (wax-width:1199px){
        text-align: center;
        justify-content: center;
        
    }
}

.title__second-title {
    color: var(--title-black-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.title__section-description{
    @media screen and (min-width:479px){
        
        padding-bottom: 30px;
    }  
font-weight: 400;
    font-size: 14px;
    line-height: 1.71;}

.servies__icon-image{ 
      
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
    background: #F5F4FA;
    border-radius: 4px;
    display:inline-flex;
    justify-content:center;
    align-items:center;
  }
.servies{
    padding-top: 65px ;
    @media screen and (min-width:768px) {
        padding-top: 95px;
    }
    
}
.servies__li{
    @media screen and (max-width:479px){
        width: 100%;
       
    }  
    
    width: 270px;
    //&:not(:last-child){
       // margin-right: 30px;
        
  //  } 
}

