body{
    background-color:var(--title-white-color);
    color: var(--text-gray-color);
    font-family: Roboto, sans-serif;
    h1,h2,h3,p{
        margin: 0;
        padding: 0;
    }
    ul{
        margin: 0;
        padding: 0;
    }
    img{
        display: block;
    }
    
    }
  